
        .content{
            width: 436px;
            height: 293px ;
            border:  1px solid rgb(48, 63, 85); 
        }
        .content>li>img{
            width: 436px;
            height: 293px ;
            
        }
       
       
		#slide15 ul img {vertical-align:middle}
        #slide15-thumb img.cur{border:2px solid orange;}
        #slide15-thumb{display: flex;flex-direction: column;}
        
.doc{
    width: 1920px;
    height: 847px;
    float: left;/*浮动出了问题*/
      /* border: 1px solid red;    */
    background: url("../img/xiangsheng/background_top.png") no-repeat; 
}
#max-box{
   /* float: left; */
   /* border: 1px solid red;     */
    width: 1000px;
    height: 296px;  
    margin: 500px auto  0 auto;
    display: flex;
    justify-content: space-between;  
}
.right_box{
    /* margin: 500px auto  0 auto; */
    width: 40%;
    height: 293px;
}
.right_box{line-height: 27px;}
.right_box>div{height: 146px;}
.right_top{
    padding-top: 8px;
    box-sizing: border-box;	
    border-bottom: 1px dashed rgb(117, 115, 115);
}
.right_bottom{margin-top: 30px;}
.title p{
    font-size: 13px;
    text-align: left;
    color: rgb(146, 145, 139);
}

h2{
    font-size: 17px;
}
p>a, h2{color: rgb(204, 157, 95);}

.title>h2{
    width: 400px;
  
}
.content{
   width: 436px;
   height: 293px ;
   
}
.content>img{
   border:  1px solid rgb(48, 63, 85); 
   width: 436px;
   height: 293px;
  
}
/* 小图片 */
.small{
     margin-right: 7px;
     height: 293px;
     width: 131px;
     box-sizing: border-box;
}
#slide15-thumb>img{
     margin: 5px ;
     margin-top: 2px ;
      border:  2px solid rgb(48, 63, 85);  
     height: 88px;
     width: 131px;

}

