/* top */
.header{
  width: 1920px;
  
    background-color: rgba(233, 226, 226, 0.493);
    border-top:  1px solid rgb(34, 34, 36);
    border-radius: 10px;
  }
  .header-one{
    width: 1000px;
    height: 29px;
    font-size: 10px;
    box-sizing: border-box;
    margin: 0 auto;
    display: flex;
    align-items: center; /* 垂直居中 */
    justify-content: space-between;   
  }

  .header-one>ul{
    display: flex; 
  }

  .header-one>ul>li{
     box-sizing: border-box;
     margin: 0 5px 0 10px; 
   }

   .header-one>ul>li>a{
    color: #000;
   }